@media only screen and (min-width : 1920px) and (max-width : 1900px) {}
@media only screen and (max-width : 1920px ) {}
@media only screen and (max-width : 1899px ) {}
@media only screen and (max-width : 1880px ) {}
@media only screen and (max-width : 1860px ) {}
@media only screen and (max-width : 1830px ) {}

@media only screen and (max-width : 1799px ) {}
@media only screen and (max-width : 1780px ) {}
@media only screen and (max-width : 1760px ) {}
@media only screen and (max-width : 1730px ) {}

@media only screen and (max-width : 1699px ) {}
@media only screen and (max-width : 1680px ) {}
@media only screen and (max-width : 1660px ) {}
@media only screen and (max-width : 1630px ) {}

@media only screen and (max-width : 1599px ) {}
@media only screen and (max-width : 1580px ) {}
@media only screen and (max-width : 1560px ) {}
@media only screen and (max-width : 1530px ) {}

@media only screen and (max-width : 1499px ) {}
@media only screen and (max-width : 1480px ) {}
@media only screen and (max-width : 1460px ) {}
@media only screen and (max-width : 1430px ) {}

@media only screen and (max-width : 1399px ) {}
@media only screen and (max-width : 1380px ) {}
@media only screen and (max-width : 1360px ) {}
@media only screen and (max-width : 1330px ) {}

@media only screen and (max-width : 1299px ) {}
@media only screen and (max-width : 1280px ) {}
@media only screen and (max-width : 1260px ) {}
@media only screen and (max-width : 1230px ) {}


@media only screen and (max-width : 1199px ) {}
@media only screen and (max-width : 1180px ) {}
@media only screen and (max-width : 1160px ) {
    #content .fywfss {
        padding: 3rem 4rem 4rem 4rem;
    }
    #content .fywfss > p {
        left: -64px;
        top: 33px;
        font-weight: 600;
        font-size: 0.9rem;
    }
    #content .fywfss__cta .fp_licenses_btns a:link, #content .fywfss__cta .fp_licenses_btns a:visited, #content .fywfss__cta .fp_licenses_btns a:active {
        font-size: 1rem !important;
    }
    #content .fywfss__licenses span:first-child {
        margin: 0 auto;
    }
    #content .fywfss__icons {
        width: 51%;
    }
    #content .fywfss__licbta {
        float: right;
        width: 48%;
    }
    #content .fywfss__cta {
        position: relative;
        top: -5px;
        margin: 0 0 0 5%;
    }
}
@media only screen and (max-width : 1130px ) {}

@media only screen and (max-width : 1099px ) {}
@media only screen and (max-width : 1080px ) {}
@media only screen and (max-width : 1060px ) {}
@media only screen and (max-width : 1030px ) {
    #content .fywfss__icons .fpc__stars .fptitle__h4, 
    #content .fywfss__icons .fywfss__casinosolutions .fptitle__h4,
    #content .fywfss__icons .fywfss__gamingproducts .fptitle__h4 {
        font-size: 1.1rem;
        line-height: 160%;
    }
    #content .fywfss__licenses img {
        height: auto;
        width: 100%;
    }
    #content .fywfss__licenses {
        width: 37%;
    }
    #content .fywfss__cta {
        top: -11px;
        margin: 0 0 0 8%;
    }
}
@media only screen and (max-width : 1024px ) {}

@media only screen and (max-width : 999px ) {

}
@media only screen and (max-width : 980px ) {
    #content .fywfss__icons {
        width: 52%;
    }
    #content .fywfss__licbta {
        float: right;
        width: 43%;
    }
    .fywfss__header_link {
        display: table;
        margin: 0 auto;
    }
}
@media only screen and (max-width : 960px ) {
    #content .fywfss {
        padding: 3rem 3rem 4rem;
    }
}
@media only screen and (max-width : 930px ) {
    #content .fywfss__icons {
        width: 57%;
    }
    #content .fywfss__licbta {
        width: 40%;
    }
    content .fywfss__icons {
        width: 55%;
    }
    #content .fywfss__licenses {
        width: auto;
        float: none;
        clear: both;
        display: table;
        margin: 0 auto;
    }
    #content .fywfss__cta {
        top: unset;
        margin: 2rem auto 0;
        float: none;
        clear: both;
    }
    #content .fywfss__licenses span {
        margin: 1rem auto 0;
    }
    #content .fywfss__licenses img {
        height: auto;
        width: 80%;
    }
    #content .fywfss__cta {
        margin: 1.5rem auto 0;
        width: 80%;
    }
    #content .fywfss__cta .fp_licenses_btns a:link:first-child, #content .fywfss__cta .fp_licenses_btns a:visited:first-child, #content .fywfss__cta .fp_licenses_btns a:active:first-child {
        margin: 0 auto 1rem;
    }
    #content .fywfss__cta .fp_licenses_btns a:link, #content .fywfss__cta .fp_licenses_btns a:visited, #content .fywfss__cta .fp_licenses_btns a:active {
        width: 100%;
        padding: .5rem 0;
        text-align: center;
    }
    #content .fywfss {
        padding: 3rem 3rem 2.5rem;
    }
}

@media only screen and (max-width : 899px ) {}
@media only screen and (max-width : 880px ) {}
@media only screen and (max-width : 860px ) {
    #content .fywfss__icons .fpc__stars .fptitle__h4, 
    #content .fywfss__icons .fywfss__casinosolutions .fptitle__h4, 
    #content .fywfss__icons .fywfss__gamingproducts .fptitle__h4 {
        font-size: 1.1rem;
        line-height: 160%;
        width: 32%;
    }
    #content .fywfss__icons {
        width: 59%;
    }
}
@media only screen and (max-width : 830px ) {
    #content .fywfss__icons .fpc__stars .fptitle__h4, 
    #content .fywfss__icons .fywfss__casinosolutions .fptitle__h4, 
    #content .fywfss__icons .fywfss__gamingproducts .fptitle__h4 {
        font-size: 1.3rem;
        line-height: 160%;
        width: auto;
        float: none;
        padding: 0 0 0.4rem;
    }
    #content .fywfss__icons .fpc__stars .fpright,
    #content .fywfss__icons .fywfss__casinosolutions .fpright,
    #content .fywfss__icons .fywfss__gamingproducts .fpright{
        width: auto;
        float: none;
    }
    #content .fywfss__icons {
        width: 51%;
    }
    #content .fywfss__licbta {
        width: 48%;
    }
    #content .fywfss__licenses img {
        height: auto;
        width: auto;
    }
    #content .fywfss__cta .fp_licenses_btns a:link, #content .fywfss__cta .fp_licenses_btns a:visited, #content .fywfss__cta .fp_licenses_btns a:active {
        width: 100%;
        padding: .7rem 0;
        text-align: center;
    }
    #content .fywfss__cta {
        margin: 2.5rem auto 0;
        width: 80%;
    }
}

@media only screen and (max-width : 799px ) {}
@media only screen and (max-width : 780px ) {}
@media only screen and (max-width : 760px ) {}
@media only screen and (max-width : 730px ) {}

@media only screen and (max-width : 699px ) {}
@media only screen and (max-width : 680px ) {}
@media only screen and (max-width : 660px ) {
    #content .fywfss__icons {
        width: 54%;
    }
    #content .fywfss__licbta {
        width: 44%;
    }
}
@media only screen and (max-width : 630px ) {
    #content .fywfss__icons {
        width: auto;
        float: none;
        clear: both;
    }
    #content .fywfss__licbta {
        width: auto;
        float: none;
        clear: both;
        margin: 2rem auto 0;
    }
    #content .fywfss__icons .fpc__stars .fptitle__h4, 
    #content .fywfss__icons .fywfss__casinosolutions .fptitle__h4, 
    #content .fywfss__icons .fywfss__gamingproducts .fptitle__h4,
    #content .fywfss__icons .fpc__stars .fpright, 
    #content .fywfss__icons .fywfss__casinosolutions .fpright, 
    #content .fywfss__icons .fywfss__gamingproducts .fpright{
        text-align: center;        
    }
    #content .fywfss__cta .fp_licenses_btns a:link, 
    #content .fywfss__cta .fp_licenses_btns a:visited, 
    #content .fywfss__cta .fp_licenses_btns a:active {
        width: 74%;
        padding: .5rem 1rem;
        display: block;
        margin: 0 auto;
    }
    .fywfss__header_link .otp__logo {
        float: none;
        width: 212px;
        height: auto;
        clear: both;
        margin: 0 auto 0.5rem;
        display: block;
    }
    .fywfss__header_link {
        display: block;
        margin: 0 auto;
    }
    #content .fywfss___brandname {
        padding: 0;
        float: none;
        margin: 0 auto;
        height: auto;
        text-align: center;
    }
}

@media only screen and (max-width : 599px ) {}
@media only screen and (max-width : 580px ) {}
@media only screen and (max-width : 560px ) {}
@media only screen and (max-width : 530px ) {}

@media only screen and (max-width : 499px ) {}
@media only screen and (max-width : 480px ) {}
@media only screen and (max-width : 460px ) {}
@media only screen and (max-width : 430px ) {}

@media only screen and (max-width : 399px ) {}
@media only screen and (max-width : 380px ) {
    #content .fywfss {
        padding: 3rem 2rem 2rem;
    }    
}
@media only screen and (max-width : 360px ) {}
@media only screen and (max-width : 330px ) {}